:host ::ng-deep .p-datepicker {
  width: 100%;
}

:host ::ng-deep .p-datepicker-input {
  width: 100%;
}

:host ::ng-deep .p-dialog-content {
  overflow: visible;
}

:host ::ng-deep .p-dialog {
  overflow: visible;
}

:host ::ng-deep .p-dialog-mask {
  overflow-y: auto;
}
