<div class="sidebar-container" [class.expanded]="open" (mouseenter)="open = true" (mouseleave)="open = false">
    <!-- Menu -->
    <ul class="menu-list">
      @for (item of menu; track item) {
      <li class="menu-item" routerLinkActive="active" [routerLink]="item.path" [title]="item.title">
        <span class="icon-shell">
          <!-- Support both SVG paths and PrimeIcons classes -->
          <ng-container *ngIf="item.icon.startsWith('/')">
            <img [src]="item.icon" [alt]="item.title" />
          </ng-container>
          <ng-container *ngIf="!item.icon.startsWith('/')">
            <i [class]="item.icon"></i>
          </ng-container>
        </span>

        <span class="label">{{ item.title }}</span>
      </li>
      }
    </ul>
</div>
