.bg-auth-left {
  background-color: var(--app-ground);
}

.active-tab {
  font-weight: 600;
  border-bottom: 2px solid var(--p-primary-color)
}

.form-container {
  max-width: 360px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 1rem;
}

.error-space {
  min-height: 3rem;
  margin-top: 0.25rem;
}
.error-space .p-error {
  display: block;
  line-height: 1rem;
}
