<div class="flex h-screen">
  <!-- Left -->
  <div class="w-full md:w-6 p-6 md:p-8 flex flex-column justify-content-center align-items-center gap-4 bg-auth-left">
    <h1 class="text-center text-xl text-600 mb-2">
      Connect your Professional Business or Creator Instagram Account with Facebook Pages
    </h1>

    <div class="flex justify-content-between w-full border-bottom-1 border-gray-300">
      <ul>
        <li class="flex align-items-center mb-3">
          <i class="pi pi-check-circle text-green-500 mr-2"></i>
          <span>Your Instagram Account must have at least 100 followers.</span>
        </li>
        <li class="flex align-items-center mb-3">
          <i class="pi pi-check-circle text-green-500 mr-2"></i>
          <span>Instagram accounts must be connected to your Facebook Business Page and you must be the owner or admin of it.</span>
        </li>
        <li class="flex align-items-center">
          <i class="pi pi-check-circle text-green-500 mr-2"></i>
          <span>Select <b>only one</b> Facebook Business Page and <b>only one</b> Instagram account for your data safety.</span>
        </li>
      </ul>
    </div>

    <div>
      <button pButton type="button" (click)="handleInstagramLink()" class="p-button-primary p-button-raised p-button-lg"
        style="background-color: var(--primary-color)">
        Link Instagram
      </button>
    </div>
  </div>

  <!-- Right-->
  <div class="hidden md:flex w-6 justify-content-center align-items-center bg-gray-100">
    <img src="/images/link-instagram-page.svg" alt="Illustration" class="w-9" />
  </div>
</div>
