<p-card [header]="'PRIVACY_POLICY.TITLE' | translate" styleClass="mb-4">
  <ng-template pTemplate="content">
    <p><strong>{{ 'PRIVACY_POLICY.LAST_UPDATED' | translate }}</strong></p>
    <p>{{ 'PRIVACY_POLICY.INTRO' | translate }}</p>

    <p-panel [header]="'PRIVACY_POLICY.SECTIONS.1_TITLE' | translate" toggleable>
      <ul class="pl-3">
        <li>{{ 'PRIVACY_POLICY.SECTIONS.1_CONTENT.ACCOUNT' | translate }}</li>
        <li>{{ 'PRIVACY_POLICY.SECTIONS.1_CONTENT.CAMPAIGN' | translate }}</li>
        <li>{{ 'PRIVACY_POLICY.SECTIONS.1_CONTENT.SOCIAL' | translate }}</li>
      </ul>
    </p-panel>

    <p-panel [header]="'PRIVACY_POLICY.SECTIONS.2_TITLE' | translate" toggleable>
      <ul class="pl-3">
        <li>{{ 'PRIVACY_POLICY.SECTIONS.2_CONTENT.ACCOUNT' | translate }}</li>
        <li>{{ 'PRIVACY_POLICY.SECTIONS.2_CONTENT.CAMPAIGN' | translate }}</li>
        <li>{{ 'PRIVACY_POLICY.SECTIONS.2_CONTENT.IMPROVEMENT' | translate }}</li>
        <li>{{ 'PRIVACY_POLICY.SECTIONS.2_CONTENT.ANALYTICS' | translate }}</li>
        <li>{{ 'PRIVACY_POLICY.SECTIONS.2_CONTENT.COMMUNICATION' | translate }}</li>
      </ul>
    </p-panel>

    <p-panel [header]="'PRIVACY_POLICY.SECTIONS.3_TITLE' | translate" toggleable>
      <p>{{ 'PRIVACY_POLICY.SECTIONS.3_INTRO' | translate }}</p>
      <ul class="pl-3">
        <li>{{ 'PRIVACY_POLICY.SECTIONS.3_LIST.ADMINS' | translate }}</li>
        <li>{{ 'PRIVACY_POLICY.SECTIONS.3_LIST.PROVIDERS' | translate }}</li>
        <li>{{ 'PRIVACY_POLICY.SECTIONS.3_LIST.LEGAL' | translate }}</li>
      </ul>
    </p-panel>

    <p-panel [header]="'PRIVACY_POLICY.SECTIONS.4_TITLE' | translate" toggleable>
      <p>{{ 'PRIVACY_POLICY.SECTIONS.4_CONTENT' | translate }}</p>
    </p-panel>

    <p-panel [header]="'PRIVACY_POLICY.SECTIONS.5_TITLE' | translate" toggleable>
      <ul class="pl-3">
        <li>{{ 'PRIVACY_POLICY.SECTIONS.5_CONTENT.ACCESS' | translate }}</li>
        <li>{{ 'PRIVACY_POLICY.SECTIONS.5_CONTENT.WITHDRAW' | translate }}</li>
        <li>{{ 'PRIVACY_POLICY.SECTIONS.5_CONTENT.GDPR' | translate }}</li>
      </ul>
    </p-panel>

    <p-panel [header]="'PRIVACY_POLICY.SECTIONS.6_TITLE' | translate" toggleable>
      <p>{{ 'PRIVACY_POLICY.SECTIONS.6_CONTENT' | translate }}</p>
    </p-panel>

    <p-panel [header]="'PRIVACY_POLICY.SECTIONS.7_TITLE' | translate" toggleable>
      <p>{{ 'PRIVACY_POLICY.SECTIONS.7_CONTENT' | translate }}</p>
    </p-panel>

    <p-panel [header]="'PRIVACY_POLICY.SECTIONS.8_TITLE' | translate" toggleable>
      <p>{{ 'PRIVACY_POLICY.SECTIONS.8_CONTENT' | translate }}</p>
    </p-panel>

    <p-panel [header]="'PRIVACY_POLICY.SECTIONS.9_TITLE' | translate" toggleable>
      <p>
        {{ 'PRIVACY_POLICY.SECTIONS.9_CONTENT' | translate }}
        <a href="mailto:privacy@lanka.app">privacy&#64;lanka.app</a>
      </p>
    </p-panel>
  </ng-template>
</p-card>
