<form [formGroup]="form" (ngSubmit)="submit()" class="w-full flex flex-column gap-3 mt-3">
  <!-- First Name -->
  <div class="w-full">
    <input pInputText type="text" placeholder="First Name" formControlName="firstName" class="w-full" />
  </div>

  <!-- Last Name -->
  <div class="w-full">
    <input pInputText type="text" placeholder="Last Name" formControlName="lastName" class="w-full" />
  </div>

  <!-- Email -->
  <div class="w-full">
    <input pInputText type="email" placeholder="E-mail" formControlName="email" class="w-full" />
  </div>

  <!-- Password -->
  <p-password
    formControlName="password"
    placeholder="Password"
    [toggleMask]="true"
    [feedback]="false"
    styleClass="w-full"
    inputStyleClass="w-full"
  ></p-password>

  <!-- Reserve space for password errors -->
  <div class="error-space w-full">
    <small *ngIf="form.get('password')?.hasError('required')" class="p-error">
      Password is required.
    </small>
    <small *ngIf="form.get('password')?.hasError('minlength')" class="p-error">
      Password must be at least 8 characters.
    </small>
    <small *ngIf="form.get('password')?.hasError('maxlength')" class="p-error">
      Password cannot exceed 16 characters.
    </small>
    <small *ngIf="form.get('password')?.hasError('pattern')" class="p-error">
      Password must include uppercase, lowercase, digit & one special (!?*.$).
    </small>
  </div>

  <!-- Birth Date -->
  <div class="w-full">
    <input pInputText type="date" formControlName="birthDate" class="w-full" placeholder="Birth Date" />
  </div>

  <!-- Submit Button -->
  <button pButton type="submit" label="Register" class="w-full" style="background-color: var(--primary-color)"
    [disabled]="form.invalid"></button>
</form>
