.layout {
  display: flex;
  height: 100vh;
}

.content {
  transition: margin-left 0.3s ease;
  margin-left: 60px;
}

.content {
  flex: 1;
  overflow: auto;
  transition: margin-left 0.3s ease;
  margin-left: 0px;
  background-color: #f0f4f9 ;
}

